*.o
*.so
*.la
.deps/
.libs/
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure~
depcomp
install-sh
lhdsptool
libhdsp.la
libtool
ltmain.sh
missing
stamp-h1
test-driver
config.h.in~
.idea/
